/* Page Structure Classes */

html, body {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left:0;
	right:0;
	background-color: #cba;
  	height: 100%;
  	font-family: sans-serif;
}


#divContainer {

    margin: auto;
    width: 940px;
    background: #ffffff;
    border: 3px solid #b52;
    border-bottom: 0px;
    border-top: 0px;
}

#firstHead {
    background: #ccccaa;
    background: url(images/firstHead.jpg);
    text-align: center;
    height: 140px;
    width: 940px;
    border:0px;
}

#secondHeadA {
	position:relative;
	background: #ffffff;
    height: 300px;
    width:299px;
    float: left;
    border-bottom: 2px solid #b52;
    border-top: 2px solid #b52;
    border:1px;
    clear: left;
    margin-top: 0;
    top: 0;
}

#secondHeadB {
    position:relative;
    background: #ffffff;
    text-align: center;
    float:left;
    height: 300px;
    width: 339px;
    border-bottom: 0px solid #b52;
    border-top: 0px solid #b52;
    border:1px;
    margin-top: 0;
    top: 0;
}

#secondHeadC {
	position:relative;
    background: #ffffff;
    text-align: left;
    float:right;
    height: 300px;
    width: 299px;
    border-bottom: 0px solid #b52;
    border-top: 0px solid #b52;
    border:1px;
    margin-top: 0;
    top: 0;
}

#thirdHeadA {
    background: #ffffff;
    height: 250px;
    width:230px;
    float: left;
    border-bottom: 2px solid #b52;
    border-top: 2px solid #b52;
    clear: left;
    margin-top: 0;
    top: 0;
}

#thirdHeadB {
    background: #ffffff;
    text-align: left;
    float:right;
    height: 250px;
    width: 710px;
    border-bottom: 2px solid #b52;
    border-top: 2px solid #b52;
    margin-top: 0;
    top: 0;
}

#mainColumn {
    background: #ffffff;
    text-align: center;
    height: auto;
    min-height: 350px;
    width: 940px;
    float: left;
    border-right: 1px dashed #5be53b;
    margin-bottom: 30px;
}

#mainA {
    background: #ffffff;
    text-align: center;
    height: auto;
    min-height: 350px;
    width: 940px;
    float: left;
    margin-bottom: 30px;
}

#mainABattleField {
    background: #ffffff;
    text-align: center;
    height: auto;
    min-height: 350px;
    width: 706px;
    float: left;
    margin-bottom: 0px;
}

#mainB {

    background: #ffffff;
    text-align: center;
    height: auto;
    min-height: 350px;
    width: 230px;
    float: right;
    margin-bottom: 30px;
    border-left: 1px dashed #b52;
}


#columnFooter {

    clear: both;
    border-top: 0px dashed #000000;
    text-align: left;
    padding-left: 0px;
    height: auto;
    width: 100%;
    background: #fdb;
    margin-top: 20px;
}


#divContainerIndex {

    margin: auto;
    width: 940px;
    background: #ffffff;
    border: 3px solid #b52;
    border-bottom: 0px;
    border-top: 0px;
    height:100%;
}

#firstHeadIndex {
    /*background: #dce727;*/
    background: #ccccaa;
    background: url(images/firstHead.jpg);
    text-align: center;
    height: 20%;
    width: 940px;
    border:0px;
}

#secondHeadIndex
{
	height:60%;
}

#secondHeadAIndex {
	position:relative;
	background: #ffffff;
    width:299px;
    float: left;
    border-bottom: 2px solid #b52;
    border-top: 2px solid #b52;
    border:1px;
    clear: left;
    margin-top: 0;
    top: 0;
}

#secondHeadBIndex {
    position:relative;
    background: #ffffff;
    text-align: center;
    float:left;
    width: 339px;
    border-bottom: 0px solid #b52;
    border-top: 0px solid #b52;
    border:1px;
    margin-top: 0;
    top: 0;
}

#secondHeadCIndex {
	position:relative;
    background: #ffffff;
    text-align: left;
    float:right;
    width: 299px;
    border-bottom: 0px solid #b52;
    border-top: 0px solid #b52;
    border:1px;
    margin-top: 0;
    top: 0;
}

#columnFooterIndex {

    clear: both;
    border-top: 0px dashed #000000;
    text-align: left;
    padding-left: 0px;
    height: 20%;
    width: 100%;
    background: #fdb;
    margin-top: 20px;
}



/* Main pages items */

#divisionManager {
    margin-left: 0%;
    margin-top: 0%;
    position: relative;
    left: 0%;
    top: 0%;
    width: 200px;
    height: 240px;

}

.activityImage {
    margin-left: 0%;
    margin-top: 0%;
    position: relative;
    left: 0%;
    top: 0%;
    width: 80px;
    height: 80px;

}

#logo {
    float: left;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 25px;
    position: relative;
    left: 0%;
    top: 0%;
    width: 183px;
    height: 95px;

}

#icon {
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    position: relative;
    left: 0%;
    top: 0%;
    width: 130px;
    height: 120px;

}

script {
  display: block;
}

.listActivity{
    background: #fff;
    border: 1px dashed #333;
    text-align: center;
    height: auto;
    min-height: 430px;
    width: 650px;
    float: left;
    margin-bottom: 30px;
    margin-left: 5%;
}
.listActivityLeft{
    background: #fff;
    text-align: center;
    height: 200px;
    width: 150px;
    float: left;
}
.listActivityImage{
    background: #fff;
    text-align: center;
    height: auto;
    width: 150px;
    float: left;
}
.listActivityRight{
    background: #fff;
    text-align: center;
    height: 500px;
    width: 500px;
    float: left;
}
.listActivityTags{
    background: #fdb;
    text-align: center;
    height: auto;
    width: 500px;
    float: left;
    margin-bottom: 0;
    padding-bottom: 0;
}
.listActivityInfo{
    background: #fdb;
    text-align: center;
    height: 30px;
    width: 500px;
    float: right;
    margin-bottom: 0;
    padding-bottom: 0;
}

.listActivityInfoLeft{
    background: #acf;
    text-align: center;
    height: 30px;
    width: 250px;
    float: left;
}

.listActivityInfoRight{
    background: #acf;
    text-align: center;
    height: 30px;
    width: 250px;
    float: right;
}

.listRecommendedRight {

    background:inherit;
    text-align: center;
    height: auto;
    min-height: 80px;
    width: 230px;
    float: right;
    margin-bottom: 30px;
    border: 0px dashed #b52;
}

.listActivityInfoRightColumn{
    background:inherit;
    text-align: center;
    height: 70px;
    width: 70px;
    float: none;
    padding-top: 20px;
}

/* Links Classes */
a:link  {
  font-size: 10pt;
  text-decoration: none;
  color: #007;
}

a:visited  {
  font-size: 10pt;
  text-decoration: none;
  color: #007;
}

a:hover  {
  font-size: 10pt;
  text-decoration: none;
  color: red;
}


.listActivityRightLink{
  display: block;
  text-decoration: none;
  padding: .0em .4em;
  margin-top: 40px;
  font-size: 8pt;
  text-align: center;
  vertical-align: middle; 
  border: dashed gray;
  border-width: 1px;
  background-color:inherit;
  width: 180px;
  height: 30px;
  margin-left: 10px;
}

.detailLinks{
  display: block;
  text-decoration: none;
  padding: .0em .0em;
  margin-top: 4px;
  font-size: 10pt;
  text-align: center;
  vertical-align: middle; 
  border: dashed gray;
  border-width: 1px;
  background-color: #def;
  width: 100px;
  height: 20px;
  margin-left: 65px;
}


.detailLinks a:link  {
  text-decoration: none;
  color: #5050a0;
}

.detailLinks a:visited  {
  text-decoration: none;
  color: #5050a0;
}

.detailLinks a:hover  {
  text-decoration: none;
  color: red;
}




/*.smallDetailLinks{
  text-align: center;
  vertical-align: middle;
  font-size: 0.7em;	
}*/

.smallDetailLinks{
  display: block;
  color:#333;
  text-decoration: none;
  padding: .5em .98em;
  margin-top: 20px;	
  font-size: 0.5em;
  border:0;
}

.smallDetailLinks a:link  {
  text-decoration: none;
  color: #60a000;
}

.smallDetailLinks a:visited  {
  text-decoration: none;
  color: #60a000;
}

.smallDetailLinks a:hover  {
  text-decoration: none;
  color: red;
}


.mainLinks {
  text-align: center;
  vertical-align: middle; 
  border: dashed gray;
  border-width: 1px;
  background-color: #fdd;
  width: 160px;
  height: 43px;
  padding-top: 10px;
  font-size: 0.7em;
  margin-top: 27px;
}


.mainLinks a:link  {
  text-decoration: none;
  color: #025;
  font-size: 1.3em;
}

.mainLinks a:visited  {
  text-decoration: none;
  color: #025;
  font-size: 1.3em;
}

.mainLinks a:hover  {
  text-decoration: none;
  color: red;
}

.mainAdminLinks {
  text-align: center;
  vertical-align: middle; 
  border: dashed gray;
  border-width: 1px;
  background-color: #9e9;
  width: 160px;
  height: 30px;
  padding-top: 10px;
  font-size: .7em;
  margin: 10px;
}


.mainAdminLinks a:link  {
  text-decoration: none;
  color: #025;
  font-size: 1.3em;
}

.mainAdminLinks a:visited  {
  text-decoration: none;
  color: #025;
  font-size: 1.3em;
}

.mainAdminLinks a:hover  {
  text-decoration: none;
  color: red;
}


.adLinks {
  text-align: center;
  vertical-align: middle; 
  border: dashed gray;
  border-width: 1px 1px 1px 1px;
  background-color: #bef;
  width: 160px;
  height: 35px;
  padding-top: 15px;
  font-size: 0.8em;
  margin-top: 25px;
  margin-left: 40px;
  clear: left;
  float: left;
}

.adLinks a:link  {
  text-decoration: none;
  color: #025;
  font-size: 10pt;
}

.adLinks a:visited  {
  text-decoration: none;
  color: #025;
  font-size: 10pt;
}

.adLinks a:hover  {
  text-decoration: none;
  color: red;
}




.Links {
  text-align: center;
  vertical-align: middle;
  width: 100px;
  height: 25px;
  line-height:25px;
  padding-top: 0px;
  font-size: 0.8em;
  margin-top: 35px;
  margin-left: 5px;
  margin-right:5px;
  border: dashed gray;
  border-width: 1px 1px 1px 1px;
  background-color: white;
}

.Links a:link  {
  text-decoration: none;
  color: black;
  font-size: 0.8em;
}

.Links a:visited  {
  text-decoration: none;
  color: black;
  font-size: 0.8em;
}

.Links a:hover  {
  text-decoration: none;
  color: red;
}


/* Lists Classes */

dt{
  text-align: left;
  float: left;
  margin-left: 25px;
  padding-top: 25px;
  font-size: 1.3em;
  margin-bottom: 1em;
}

ul{
	text-align: left;
	line-height: 2em;
}

.mainLi{
  text-align: left;
  margin-left: 20px;
  font-size: 1.3em;
  margin-bottom: 1em;
  list-style-type:disc;
}

.miniLi{
  text-align: left;
  margin-left: 40px;
  font-size: 1em;
  margin-bottom: .7em;
  list-style-type:lower-alpha;
}


/*
dt{
  text-transform: uppercase;
  font-size: small;	
  margin-left: 25px;
  padding-top: 25px;
  border: 2px solid #8c5;	
  float: left;	
}
*/

dl{
  margin:0;
  padding: 0;
  float: left;
}

.mainDlIndex{
  margin:0;
  padding: 0;
  float: left;
  clear:both;
  position: absolute;
  top:30%;
}
.mainDl{
  margin:0;
  padding: 0;
  float: left;
  clear:both;
}

/*
dl{
  list-style: none;
  margin: 0px 0 0;
  overflow:  auto;
  padding: .0em;	
}
*/
.miniDl{
  margin:0;
  padding: 0;
  clear: both;
  float: right;
  margin-right: 10px;
  padding-bottom:20px;
  
}

/* Input Elements Classes */
input {
  clear: both;
  display: inline;
  text-align: center;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
  width: 140px;
  border: dashed gray;
  border-width: 1px;
  background-color: white;
}

.hidden {
  display: none;
}

.error {
	border: 1px solid #FBB3B9; 
	color: #f0051e; 
	background: #FFECED; 
	padding: 5px; 
	margin-bottom: 10px; 
	font-size: 12px;
	font-weight: bold; 
	width: 50%;
	margin-left: 25%;
  	margin-right: 25%;
  	text-align: center;
	}

.success {
	border: 1px solid green; 
	color: green; 
	background: #90EE90; 
	padding: 5px; 
	margin-bottom: 10px; 
	font-size: 12px;
	font-weight: bold;
	width: 50%;
	margin-left: 25%;
  	margin-right: 25%;
  	text-align: center;
	}

.note{
  font-size: 0.5em;
  color: red;
}


.mailHeaderInputTitle{
  font-size: 10pt;
  color: black;
  padding-bottom: 20px;
}

.mailHeaderInputSmall{
  width: 30px;
}

.mailHeaderInputLarge{
  width: 100%;
  background-color:white;
}

.longButton{
  width:200px;
  margin-top:5px;
  margin-bottom:5px;
}


.mailBox{
	height: 320px;
	width: 400px;
	margin-top:10px;
	text-align:left;
	vertical-align:top;
}

/* Table elements Classes */

.LinksTable{
  top:0;
  bottom:0;
  float:right;
  margin:0;
  margin-bottom:0px;
  clear:both;
  border:0;
}

.MainLinksTable{
  top:0;
  bottom:0;
  float:left;
  margin:0;
  margin-bottom:5px;
  clear:both;
  border:0;
}

table.formTable{
  display: table;
  top:0;
  bottom:0;
  position: inherit;
  float: none;
  width: 80%;
  min-height: 400px;
  margin-left: 10%;
  margin-right: 10%;
  color: black;
  border: 0px dashed black;
  clear: both;
  margin-top: 1em;
  margin-bottom: 0em;
  border-collapse: collapse;

}


#loginForm{

	position:absolute;
	top:20%;
	margin-left:10%;
	margin-right:10%;
	width:80%;
}

.recordsTable{
  display: table;
  position: inherit;
  float: left;
  clear: right;
  width: 90%;
  min-height: 70px;
  margin-left: 5%;
  margin-right: 0;
  color: black;
  border: 0px dashed black;
  margin-top: 20px;
  margin-bottom: 0;
  border-collapse: collapse;

}

.recordsHeader td{

  text-align: center;
  background-color: #ea8;
  border-bottom: 0px solid blue;
  color: white;
  border-right: 2px solid #737;
  border-left: 0px solid orange;
  padding: .3em;
  font-family: Verdana;
  font-size: .7em;
}

.formTh th{
  position: static;
  width: 0%;
  height: 50px;
  min-height: 400px;
  text-align: center;
  vertical-align: top;
  font-family: Verdana;
  font-size: 0.7em;
  padding: 5%;
  padding-right: 12px;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  background-color: white;
}

.formTd td{
  position: static;
  width: 20px;
  height: 50px;
  min-height: 200px;
  vertical-align: middle;
  text-align: center;
  background-color: white;
  border-bottom: 0px solid white;
  border-right: 0px dashed #d42;
  padding: 2px;
  font-family: Verdana;
  font-size: .9em;
}

.unreadMessage{
	background-color: #bba;
	border: 1px dashed #055;
	font-size: 1.1em;
}

.readMessage{
	background-color: #eee;
	border: 1px dashed #055;
	font-size: 0.9em;
}

.noBorder{
  
  border-right: 0px solid #d42;

}

.bigRow{

	height: 130px;

}

.cellData{

	border-right: 0px solid #d42;
	border-bottom: 0px;
	vertical-align: middle;
    text-align: center;

}

.cellTitle{
  vertical-align: middle;
  text-align: center;
  line-height: 1.5em;
  background-color: #fdc;
  border-bottom: 0px solid white;
  border-right: 4px solid #d42;
  padding: 2px;
  font-family: Verdana;
  font-size: .8em;
  text-transform: uppercase;
}

.header table{
  float: none;
  width: 20%;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0em;
  margin-bottom: 1em;
  border: 1px dashed black;
  clear: both;
  border-collapse: separate ;
}

.tableTitle{
  float: left;
  width: 15%;
  display: table;
  margin-right: 0%;
  margin-top: 0em;
  margin-bottom: -0.3em;
  border-top: 1px dashed black;
  border-left: 1px dashed black;
  border-right: 1px dashed black;
  border-bottom: 0px;
  border-collapse: separate ;
  position: relative;
  margin-left: 9%;
  text-transform: uppercase;
}



.header td{
  text-align: center;
  background-color: #ea8;
  border-bottom: 0px solid white;
  color: white;
  border-right: 0px solid orange;
  padding: 0px;
  padding-bottom: 0em;
  padding-top: 0em;
  font-family: Verdana;
  font-size: 0.8em;
  
}

.header th{
  clear: both;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
}


.headRow {
  display: table;
  float: left;
  width: 530px;
  min-height: 140px;
  margin-left: 80px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  color: black;
  border: 0px dashed black;
  clear: both;
}


.headRow td{
  width: 600px;
  height: 140px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  background-color: white;
  border-bottom: 0px solid white;
  border-right: 0px dashed #d42;
  padding: 2px;
  font-family: Verdana;
  font-size: .9em;
  border:0;
  background-color: #ad7;
}






.leftRow {
  display: table;
  float: left;
  width: 650px;
  min-height: 200px;
  margin-left: 80px;
  margin-top: 40px;
  margin-bottom: 15px;
  color: black;
  border: 1px dashed black;
  clear: both;
}


.leftRow th{
  width: 150px;
  height: 200px;
  text-align: center;
  vertical-align: middle;
  font-family: Verdana;
  font-size: 0.7em;
  padding: 5%;
  padding-right: 12px;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  background-color: #ee8;
  border:0;
}

.leftRow td{
  width: 550px;
  height: 200px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  background-color: white;
  border-bottom: 0px solid white;
  border-right: 0px dashed #d42;
  padding: 2px;
  font-family: Verdana;
  font-size: .9em;
  border:0;
  background-color: #ee8;
}




.rightRow {
  display: table;
  float: left;
  width: 650px;
  min-height: 200px;
  margin-left: 130px;
  margin-top: 40px;
  margin-bottom: 15px;
  color: black;
  border: 1px dashed black;
  clear: both;

}


.rightRow th{
  width: 150px;
  height: 200px;
  text-align: center;
  vertical-align: middle;
  font-family: Verdana;
  font-size: 0.7em;
  padding: 5%;
  padding-right: 12px;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  background-color: #ce8;
  border:0;
}

.rightRow td{
  width: 550px;
  height: 200px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  background-color: white;
  border-bottom: 0px solid white;
  border-right: 0px dashed #d42;
  padding: 2px;
  font-family: Verdana;
  font-size: .9em;
  border:0;
  background-color: #ce8;
}



.leftCol {
  display: table;
  float: left;
  width: 300px;
  min-height: 200px;
  margin-left: 85px;
  margin-top: 40px;
  margin-bottom: 15px;
  color: black;
  border: 1px dashed black;
  clear: left;
}


.leftCol th{
  width: 300px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  font-family: Verdana;
  font-size: 0.7em;
  padding: 5%;
  padding-right: 12px;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  background-color: #ee8;
  border:0;
}

.leftCol td{
  width: 300px;
  height: 200px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  background-color: white;
  border-bottom: 0px solid white;
  border-right: 0px dashed #d42;
  padding: 2px;
  font-family: Verdana;
  font-size: .9em;
  border:0;
  background-color: #ee8;
}


.rightCol {
  display: table;
  float: left;
  width: 300px;
  min-height: 200px;
  margin-left: 70px;
  margin-top: 40px;
  margin-bottom: 15px;
  color: black;
  border: 1px dashed black;
  clear: none;

}


.rightCol th{
  width: 300px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  font-family: Verdana;
  font-size: 0.7em;
  padding: 5%;
  padding-right: 12px;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  background-color: #ce8;
  border:0;
}

.rightCol td{
  width: 300px;
  height: 200px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  background-color: white;
  border-bottom: 0px solid white;
  border-right: 0px dashed #d42;
  padding: 2px;
  font-family: Verdana;
  font-size: .9em;
  border:0;
  background-color: #ce8;
}


.mainCol {
  display: table;
  float: none;
  width: 800px;
  min-height: 350px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 40px;
  margin-bottom: 15px;
  color: black;
  border: 1px dashed black;
  clear: both;

}


.mainCol th{
  width: 800px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  font-family: Verdana;
  font-size: 0.7em;
  padding: 5%;
  padding-right: 12px;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  background-color: #ee8;
  border:0;
}

.mainCol td{
  width: 800px;
  height: 400px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  background-color: white;
  border-bottom: 0px solid white;
  border-right: 0px dashed #d42;
  padding: 2px;
  font-family: Verdana;
  font-size: .9em;
  border:0;
  background-color: #ee8;
}



/* Required elements Classes */

.required{
  clear: both;
  color: #ff3f0f;
}

.required td{
  clear: both;
}

.required input{
  clear: both;
  background-color: #ffef5f;
}

.required select{
  clear: both;
  background-color: #ffef5f;
}

.radio{
  clear: none;
  display: inline;
  text-align: center;
  width: 50px;
  border: dashed gray;
  border-width: 1px 1px 1px 1px;
}

.checkbox{
  clear: none;
  display: inline;
  text-align: center;
  width: 50px;
  border: dashed gray;
  border-width: 1px 1px 1px 1px;
}


.formdown th{
  font-size: 0em;
  border-top: 1px solid black;
}




.buttonSubmit{
  float: none;
  clear: both;
  display: block;
  width: 140px;
  overflow:visible;
  border: dashed gray;
  border-width: 1px;
  background-color: #fff;
  color: black;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
  margin-left:auto;
  margin-right:auto; 
}



.formHeader td{

  text-align: center;
  background-color: #ea8;
  border-bottom: 0px solid blue;
  color: white;
  border-right: 0px solid orange;
  border-left: 0px solid orange;
  padding: 0px;
  padding-bottom: 1em;
  padding-top: 1em;
  font-family: Verdana;
  font-size: 1em;
}


.formHeader th{
  text-align: center;
  background-color: #ea8;
  border-bottom: 0px solid blue;
  color: white;
  border-right: 0px solid orange;
  border-left: 0px solid orange;
  padding: 0px;
  padding-bottom: 1em;
  padding-left: 0em;
  padding-right: 0em;
  padding-top: 1em;
  font-family: Verdana;
  font-size: 0.8em;
}

.tinyMCE{
    
    width: 150px;
    height: 150px;
    margin-left: 0%;
    padding-bottom: 150px;
}


h1, h2, h3 {
  padding-top: 12px;
  text-align: left;
  margin-left: 4%;
  margin-top:0;
  clear: both;
  text-align: center;
}

.title h1, h2, h3{
  text-align: center;
  color: #c00000;	
  clear: both;	
}

.left{
	text-align:left;
}

h4{
	text-align:center;
	line-height: 1.4em;
}

.title {
  padding-top: 20px;
  color: #a40;
  font-size: 24pt;
  margin-right: 0px;
  text-align: center;
}

.activityTitle {
  padding-top: 0px;
  color: #a40;
  font-size: 14pt;
  text-align: center;
  margin-right: 0px;
}

.headerDetailBold {
  padding-top: 0px;
  color: #000000;
  font-size: 11pt;
  font-weight: bold;
  margin-right: 50px;
}

.headerDetail {
  padding-top: 0px;
  color: #000000;
  font-size: 10pt;
  font-weight: normal;
  margin-right: 50px;
}

.quote {
  padding-top: 0px;
  color: #000000;
  font-size: 10pt;
  text-align: right;
  margin-right: 70px;
}

.author {
  color: #333;
  font-size: 10pt;
  text-align: left;
  margin-left: 20px;
}

.activityDetails {
  color: #333;
  font-size: 10pt;
  text-align: center;
  margin-left: 20px;
}

.notice{
  text-align: left;
  color: #555555;
  margin-left: 30px;
  background-image: url(bullet.gif);
  background-repeat: no-repeat;
  background-position: left;
  text-indent: 20px;	
  font-size: 10pt;
}

.news{
  text-align: left;
  color: #449944;
  margin-left: 30px;
  background-image: url(bullet.gif);
  background-repeat: no-repeat;
  background-position: left;
  text-indent: 20px;		
}

.copyrights{
  text-align: left;
  font-size: 8pt;
  margin-bottom: 0px;
  margin-top: 5px;
}

.mainTitle{
  text-align: left;
  color: #a00000;
  margin-left: 10px;		
}
	
p {

 margin-left: 6%;
 margin-right: 2%;
 text-align: justify;
 line-height: 1.5em;

}

.quoteMark {
    color: #38f;
    font-size:20pt;
    text-align: left;
    line-height: .1em;
    clear:none;
}

.listSamllTitle {

 margin-left: 1%;
 margin-right: 2%;
 text-align: justify;
 line-height: 1em;
 font-size:small;

}	

.searchControl {

 margin-left: 0%;
 margin-right: 30px;
 text-align: right;
 font-size: 10pt;
 line-height: 1.5em;

}

.searchControlInput {

 margin-left: 6%;
 margin-right: 2%;
 text-align: center;
 font-size: 8pt;
 line-height: 1.5em;
 float: right;
 width: 90px;

}

.shortcut_image {
	
margin:10px;
	
}

.thumbnail_image {
	
margin:10px;
width:30px;
height:30px;
vertical-align:middle;
	
}
}
